
<ons-page>
  <ons-toolbar>
    <div class="left">
      <ons-back-button></ons-back-button>
    </div>
    <div class="center">
      記事を投稿する
    </div>
  </ons-toolbar>
  <div align="right">
    <div style="padding: 5px 30px">
      <input id="bbs-title" type="text" class="text-input" ng-model="text" placeholder="タイトル" style="display: block; width: 100%">
    </div>
    <div style="padding: 5px 30px">
      <textarea id="bbs-content" class="textarea" ng-model="text2" placeholder="内容" rows="8" cols="30" ></textarea>
    </div>
    <div style="padding: 8px 30px 0px 0px;">
    <label for="file_photo" style="width:70px;float:right">
      <ons-button>
        <ons-icon icon="ion-images" size="2x"></ons-icon>
      </ons-button>
      <input type="file" id="file_photo" style="display:none;">
    </label>
      <ons-button modifier="large" style="width:150px;" onclick="bbsWrite()">記事を投稿</ons-button>
    </div>
  </div>
</ons-page>